# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pip
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Local settings
*.env
*.loca

# requests
/requests

# Project-specific ignores
examples/
tests/__pycache__/
data/logs/
data/processed/*.json
*.sh
